[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Install JDK 8 (on Windows, Mac OS, Ubuntu) and Get Started with Java Programming
Type=Link
URL=https://www3.ntu.edu.sg/home/ehchua/programming/howto/JDK_Howto.html
Icon=text-html
